$color:             #FFF;
$bg-color:          #2B2E34;
$font-topmenu:  'Ubuntu Condensed', arial, sans-serif;
$font:       'Ubuntu Medium', arial, sans-serif;
$font-text:    arial, sans-serif;
$border:	      1px solid #e8e8e8;
$fontSize:	      13px;
$colornews:    #9d9d9d;
$sizenews:      13px;;* {
  margin: 0;
  padding: 0;
};body {
  font-family: $font;
}

.wrapper {
  width: 100%;
  background-color: $color;

  .header {
      margin: 0 auto;
      padding-top: 36px;
      width: 1160px;
      height: 964px;
      background-color: $color;
  }
}

/* LOGO section */
.logo {
  content: "";
  overflow: hidden;
  clear: both;
  margin-bottom: 36px;
}

.logo__img {
  float:left;
  width: 205px;
  height: 37px;
  background: url("../img/logo.png") no-repeat;
}

.logo__socseti {
   position: relative;
   float: right;
   width: 205px;
   height: 37px;
   background: url("../img/socseti.png") no-repeat;

   .logo__socseti-link:nth-child(1) {
     position: absolute;
     top: 8px;
     left: 24px;
     width: 17px;
     height: 19px;
   }

   .logo__socseti-link:nth-child(2) {
     position: absolute;
     top: 9px;
     left: 57px;
     width: 21px;
     height: 18px;
   }

   .logo__socseti-link:nth-child(3) {
     position: absolute;
     top: 8px;
     left: 90px;
     width: 21px;
     height: 19px;
   }

   .logo__socseti-link:nth-child(4) {
     position: absolute;
     top: 9px;
     left: 124px;
     width: 20px;
     height: 18px;
   }

   .logo-connect__connect-link:nth-child(5) {
     position: absolute;
     top: 8px;
     left: 155px;
     width: 22px;
     height: 20px;
   }
}
/* END LOGO section */

/* MENU section */
.menu {
  width: 1160px;
  height: 54px;
  background: $bg-color;
  overflow: hidden;
  margin-bottom: 35px;
    
  .menu__item {
      float:left;
      list-style: none;
      padding: 20px 40px;
      border-right: 1px solid #17191C; 
  }
    
  .menu__item:active {
      background: #288CEA;
  }
    
  .menu__link {
      font-family: $font-topmenu;
      font-size: 14px;
      color: $color;
      text-decoration: none;
  }

  .menu__link:hover {
      color: #F3B519;
  }

  .menu__search{
      float: right;
      position: relative;
      width: 268px;
      height: 42px;
      margin: 6px;

      .menu__inputsearch {
          border: 1px solid #17191C;
          width: 240px;
          height: 40px;
          background: #373A3E;
          color: #63717f;
          padding: 0 12px;
      }

      .menu__icon {
          position: absolute;
          top: -13%;
          margin-left: 246px;
          margin-top: 16px;
          z-index: 1;
          color: #63717f;
      }
  }
}
/* END MENU section */

/* CAROUSEL section */
.carousel {
    position: relative;
    width: 100%;
    height: 468px;
    margin-bottom: 50px;
}

.carousel__nav {
    position: absolute;
    top: 230px;
    left: 36px;
    z-index: 2;
    width: 308px;
    height: 197px;
    background: url('../img/nav-but.png') no-repeat;
          
    .nav__item {
       list-style: none;
    }

    .nav__link {
       font-family: $font;
       font-size: 54px;
       color: $color;
       text-decoration: none;
       padding: 0 27px;
    }

    .nav__link:hover{
       color: #F3B519;
    }
}
/* END CAROUSEL section */

/* ABOUT section */
.aboutus {
  width: 100%;
  height: 268px;
  content: "";
  overflow: hidden;
  clear: both;
  
  .aboutus__block {
     float: left;
     width: 386px;
     height: 265px;
     
  }

  .aboutus__number {
     float: left;
     p{
        font-family: $font;
        font-size: 90px;
        color: #E8E8E9;
     }
  }
      
  .aboutus__item {
      width: 240px;
      float: right;
      margin-right: 20px;

      .aboutus__icon {
       margin-top: 22px;
       margin-bottom: 8px;
      }

      .aboutus__title {
         font-family: $font;
         font-size: 20px;
          margin-bottom: 20px;
      }

      .aboutus__text{
         font-family: $font-text;
         font-size: 13px;
         color: #898989;
         margin-bottom: 18px;
      }

      .aboutus__link{
         display: inline;
         text-decoration: none;
         color: #2B2C2F;
         font-family: $font;
         font-size: 13px;
         background: url("../img/arrowrb.png") no-repeat 67px 3px;
      }

      .aboutus__link:hover{
         color: #288CEA;
         background: url("../img/arrowrg.png") no-repeat 67px 3px;
      }
  }
}
/* END ABOUT section */

/* SERVICE section */
.wrapper-second {
  width: 100%;
  height: 500px;
  background: $bg-color;

  .services {
    content: "";
    overflow: hidden;
    clear: both;
    width: 1160px;
    height: 460px;
    margin: 0 auto;
    padding-top: 40px;
   
    .services__title {
      margin-left: 20px;
      margin-bottom: 55px;
      font-family: $font;
      font-size: 24px;
      color: $color;
    }

    .service__block {
      float: left;
      width: 260px;
      height: 310px;
      margin: 0 15px;

      .service__img {
        margin-bottom: 30px;
      }

      .service__link {
        position: relative;
        text-decoration: none;
      
      .service__title {
           font-family: $font;
           font-size: 16px;
           color: $color;
           text-align: center;
        }
      }

      .service__link
      .service__blind {
         position: absolute;
         display:none;
         width: 260px;
         height: 260px;
         background: url('../img/service-blind.png') no-repeat 0 0;
       } 

      .service__link:hover
      .service__blind {
         display: block;
         color: #F3B519;
       }

      .service__link:hover
      .service__title {
         color: #F3B519;
       }
    }
  }
}
/* END SERVICE section */

/* NEWS section*/
.wrapper-third {
  width: 100%;
  height: 544px;
  background: #F6F6F6;

  .news-blocks {
    padding-top: 60px;
    content: "";
    overflow: hidden;
    clear: both;
    width: 1160px;
    height: 484px;
    margin: 0 auto;

    .news__title{
      margin-left: 20px;
      margin-bottom: 45px;
    }

    .news {
      float:left;
      width: 620px;
      height: 482px;

      .news__post {
        content: "";
        overflow: hidden;
        clear: both;
        position: relative;
        display: block;
        width: 577px;
        height: 150px;
        margin-bottom: 30px;

        .news__month {
          position: absolute;
          top: 10px;
          display:block;
          width: 40px;
          height: 40px;
          background: #288CEA;
          font-family: $font;
          font-size: 15px;
          line-height: 40px;
          color: $color;
          text-align: center;
        }

        .news__day {
          position: absolute;
          top: 50px;
          display:block;
          width: 40px;
          height: 40px;
          background: #F3B519;
          font-family: $font;
          font-size: 15px;
          line-height: 40px;
          color: #000;
          text-align: center;
        }

        .news__img {
          float: left;
          margin-left: 20px;
        }

        .news__item {
          float: left;
          margin-left: 25px;

          .news__item-title {
            font-family: $font;
            font-size: 16px;
            margin-bottom: 8px;

            .news__item-title-link {
                text-decoration: none;
                color: #33363B;
            }

            .news__item-title-link:hover {
                color: #288CEA;
            }
          }

          .news__autor {
            font-family: $font-text;
            font-size: 13px;
            color: #9D9D9D;
            margin-bottom: 30px;
            
            .news__autor-name,
            .news__comments {
               color: #2A90F2;
            }
          }

          .news__short-text {
            font-family: $font-text;
            font-size: 13px;
            color: #9D9D9D;
            width: 380px;
            height: 80px;
          }
        }
      }
    }

    .banner__block {
      width: 525px;
      display: inline-block;
      position: absolute;

      .panel__block {
        margin-top: 50px;

        .banner__item {
          margin-bottom: 5px;

          .banner__link {
            border: $border;
            background: #FFF;

            .banner__logo {
              display: inline-block;
              padding: 10px 15px;
            }

            .banner__link__text {
              @extend .banner__logo;
              border-left: $border;
              text-transform: uppercase;
              font-size: $fontSize;
              padding: 11.5px;
              margin-left: -5px;
            }
          }

          .banner__text {
            display: none;
            height: 0;
            color: $colornews;
            font-size: $sizenews;
            width: 515px;
            margin: -25px 0 35px 45px;
            opacity: 0;
            width: 475px;
          }
        }
      }
    }
  }
}
/*END NEWS section*/

/*PARTNERS section*/
.wrapper-four {
  width: 100%;
  height: 240px;
  background: $color;

  .partners {
    width: 1160px;
    height:155px;
    margin: 0 auto;
    padding-top: 85px;

    .partners__link {
      text-decoration: none;
    }

    .partners__img {
      margin: 0 20px;
    }
  }
}
/* END PARTNERS section*/

/* Bottom menu section*/
.wrapper-five {
  width: 100%;
  height: 325px;
  background: $bg-color;

  .bottom-menu {
    width: 1160px;
    height: 265px;
    margin: 0 auto;
    padding-top: 60px;

    .bottom-menu-block {
      float: left;
      width: 290px;
      height:240px;
      
      .bottom-menu-block__title {
        font-family: $font;
        font-size: 16px;
        color: $color;
        margin-left: 20px;
        margin-bottom: 45px;
      }

      .bottom-menu-block__items {
        list-style: none;
        margin-left: 20px;
        margin-right: 20px;

       .bottom-menu-block__link {
         text-decoration: none;
         font-family: $font-text;
         line-height: 40px;
         font-size: 13px;
         color: #818284;   
       }

       .bottom-menu-block__link:hover {
         color: #288CEA;
       }

       .bottom-menu-block__item:not(:last-child) {
          border-bottom: 1px solid #818284;
       }
      }
    }
  }
}
/* END Bottom menu section*/

/* Footer section*/
.wrapper-six{
  width: 100%;
  height: 60px;
  background: #373A3E;

  .footer {
    width: 1160px;
    height: 44px;
    margin: 0 auto;
    padding-top: 16px;

    .footer__items {
      font-family: $font-text;
      line-height: 20px;
      font-size: 12px;
      color: #818284;

      .footer__left {
        margin-left: 2%;
        margin-right: 1%;
      }

      .footer__right {
        margin-left: 33%;
      }

      .footer__link {
        @extend .footer__items;
        text-decoration: none;
      }

      .footer__link:hover{
        color: #288CEA;
      }
    }
  }
}
/* END Footer section*/

