$color:             #FFF;
$bg-color:          #2B2E34;
$font-topmenu:  'Ubuntu Condensed', arial, sans-serif;
$font:       'Ubuntu Medium', arial, sans-serif;
$font-text:    arial, sans-serif;
$border:	      1px solid #e8e8e8;
$fontSize:	      13px;
$colornews:    #9d9d9d;
$sizenews:      13px;