@media screen and (max-width: 480px) {
    .figure {
        overflow: hidden;
    }

    .articles__item {
        width: 80%;
        float: none;
        margin-left: 14%;
    }

    .some_text-slider__item {
        width: 80%;
        float: none;
        margin-top: 0;
    }

    .some_text-updates {
        width: 80%;
    }

    .some_text-brands__item {
        width: 295px;
    }

    .description__item3 {
        float: none;
        width: 353px;
    }

    .menu--footer {
        margin: 25px 0 0 3%!important;
    }

    .menu__item--footer {
        margin-right: -8%;
    }

    .copyright {
        float: none;
        margin: 0 0 0 25%;
    }

    .logo {
        float: none;
        margin-left: 137px;
    }

    header .menu {
        float: none;
        height: 257px;
        width: 246px;
        position: absolute;
        top: 130px;
        left:111px;
        background-color: rgba(54, 41, 62, 0.6);
        border-radius: 10px;
        box-sizing: border-box;
        border: 1px solid #121c23;
        z-index: 5;
    }

    header .menu__item {
        margin: 0 auto;
        float: none;
        display: block;
        border-bottom: 2px solid #523f5a;
        height: 30px;
        padding-top: 10px;
        font-size: 24px;
    }

    header .menu__item:hover {
        background-color: rgba(54, 41, 62, 0.8);
        border-bottom: 2px solid #edbfff;
    }

    header .menu__item:last-child {
        border: none;
    }

    header .menu__item:last-child:hover{
        background-color: rgba(54, 41, 62, 0.8);
        border-bottom: none;
    }

    header .menu__link {
        float: none;
        text-align: center;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
 .menu {
     float: left;
     margin-left: -24px;
     margin-top: 38px;
 }

 .figure__text h1 {
     font-size: 49px;
 }

 .figure__text h2 {
     font-size: 24px;
 }

 .figure__text {
     height: 53%;
 }

 .figure__phones {
     left: 55%;
 }

 .some_text-brand1,
 .some_text-brand2,
 .some_text-brand3,
 .some_text-brand4,
 .some_text-brand5,
 .some_text-brand6 {
    margin-right: 25px;
 }

 footer {
     padding-top: 0;
 }

 .description {
    display: block;
     height: 100%;
 }

 .description__item3 {
     display: block;
     overflow: hidden;
     margin-right: 20px;
 }

 .description__item {
     display: none;
 }
}