@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    src: local('Arvo Bold'), local('Arvo-Bold'), url(http://fonts.gstatic.com/s/arvo/v9/Ya11CJGBCnKoJHvb8B2EOw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    background-color: #F0EFE7;
}

h1 {
    font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.wrapper {
    width: 560px;
    margin: 0 auto;
}

.carousel-hider {
    width: 350px;
    overflow: hidden;
    float: left;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    max-width: 100px;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid;
    margin: 23px;
    padding: 5px;
    background-color: aliceblue;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.clear {
    clear: both;
}

.first_task {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Times New Roman';
}

.first_task h1 {
    font-size: 20pt;
}

.first_task p, .first_task a {
    margin-left: 15px;
    font-size: 14pt;
}

.first_task ul {
    margin-top: 30px;
    line-height: 35px;
    font-size: 14pt;
    padding-left: 33px;
}

.main {
    width: 512px;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 47px;
    padding: 54px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 1px rgba(176,176,176,1);
    -moz-box-shadow: 0 0 5px 1px rgba(176,176,176,1);
    box-shadow: 0 0 5px 1px rgba(176,176,176,1);
}

.div_center {
    text-align: center;
}

.first,
.about,
.contacts {
    border-bottom: 1px #7a7a7a solid;
}

.contacts {
    padding-bottom: 25px;
}

.about,
.contacts,
.feedback,
.my_facebook {
    margin-top: 35px;
}

.my_contact,
.my_facebook,
.my_feedback {
    margin-bottom: 0;
}

.my_phone,
.text_feedback {
    margin-top: 10px;
}

.my_facebook {
    margin-bottom: 10px;
}